vm2-production/nodered/flows.json
[
    {
        "id": "mqtt-to-backend",
        "type": "tab",
        "label": "ESP32 MQTT to Backend",
        "disabled": false,
        "info": "รับข้อมูลจาก ESP32 ผ่าน MQTT และส่งไป Backend API",
        "nodes": [
            {
                "id": "mqtt-in-room1",
                "type": "mqtt in",
                "z": "mqtt-to-backend",
                "name": "Room 1 Temperature",
                "topic": "room1/temperature",
                "qos": "0",
                "broker": "mqtt-broker",
                "x": 150,
                "y": 100,
                "wires": [["http-request-room1"]]
            },
            {
                "id": "mqtt-in-room2",
                "type": "mqtt in",
                "z": "mqtt-to-backend",
                "name": "Room 2 Temperature",
                "topic": "room2/temperature",
                "qos": "0",
                "broker": "mqtt-broker",
                "x": 150,
                "y": 180,
                "wires": [["http-request-room2"]]
            },
            {
                "id": "mqtt-in-room3",
                "type": "mqtt in",
                "z": "mqtt-to-backend",
                "name": "Room 3 Temperature",
                "topic": "room3/temperature",
                "qos": "0",
                "broker": "mqtt-broker",
                "x": 150,
                "y": 260,
                "wires": [["http-request-room3"]]
            },
            {
                "id": "http-request-room1",
                "type": "http request",
                "z": "mqtt-to-backend",
                "name": "Send to Backend",
                "method": "POST",
                "ret": "obj",
                "paytoqs": "ignore",
                "url": "http://backend:3000/api/mqtt/room1",
                "tls": "",
                "persist": false,
                "proxy": "",
                "authType": "",
                "x": 400,
                "y": 100,
                "wires": [["debug-output"]]
            },
            {
                "id": "http-request-room2",
                "type": "http request",
                "z": "mqtt-to-backend",
                "name": "Send to Backend",
                "method": "POST",
                "ret": "obj",
                "paytoqs": "ignore",
                "url": "http://backend:3000/api/mqtt/room2",
                "tls": "",
                "persist": false,
                "proxy": "",
                "authType": "",
                "x": 400,
                "y": 180,
                "wires": [["debug-output"]]
            },
            {
                "id": "http-request-room3",
                "type": "http request",
                "z": "mqtt-to-backend",
                "name": "Send to Backend",
                "method": "POST",
                "ret": "obj",
                "paytoqs": "ignore",
                "url": "http://backend:3000/api/mqtt/room3",
                "tls": "",
                "persist": false,
                "proxy": "",
                "authType": "",
                "x": 400,
                "y": 260,
                "wires": [["debug-output"]]
            },
            {
                "id": "debug-output",
                "type": "debug",
                "z": "mqtt-to-backend",
                "name": "Debug",
                "active": true,
                "tosidebar": true,
                "console": false,
                "tostatus": false,
                "complete": "payload",
                "targetType": "msg",
                "statusVal": "",
                "statusType": "auto",
                "x": 650,
                "y": 180,
                "wires": []
            },
            {
                "id": "mqtt-broker",
                "type": "mqtt-broker",
                "name": "Mosquitto",
                "broker": "mqtt",
                "port": "1883",
                "clientid": "nodered-client",
                "autoConnect": true,
                "usetls": false,
                "protocolVersion": "4",
                "keepalive": "60",
                "cleansession": true,
                "birthTopic": "",
                "birthQos": "0",
                "birthPayload": "",
                "birthMsg": {},
                "closeTopic": "",
                "closeQos": "0",
                "closePayload": "",
                "closeMsg": {},
                "willTopic": "",
                "willQos": "0",
                "willPayload": "",
                "willMsg": {},
                "userProps": "",
                "sessionExpiry": ""
            }
        ]
    }
]


